<a href="https://colab.research.google.com/github/kenta1114/Machine-Learning/blob/main/pandas_DataFrame_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### DataFrameの基本操作

In [2]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.arange(100).reshape((20, 5)))
df
#import numpy as np
#import pandas as pd
#df=pd.DataFrame(np.arange(100).reshape((20,5)))
#df

     0   1   2   3   4
0    0   1   2   3   4
1    5   6   7   8   9
2   10  11  12  13  14
3   15  16  17  18  19
4   20  21  22  23  24
5   25  26  27  28  29
6   30  31  32  33  34
7   35  36  37  38  39
8   40  41  42  43  44
9   45  46  47  48  49
10  50  51  52  53  54
11  55  56  57  58  59
12  60  61  62  63  64
13  65  66  67  68  69
14  70  71  72  73  74
15  75  76  77  78  79
16  80  81  82  83  84
17  85  86  87  88  89
18  90  91  92  93  94
19  95  96  97  98  99

### データの確認

In [3]:
df.head()

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [4]:
df.head(10)

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
5  25  26  27  28  29
6  30  31  32  33  34
7  35  36  37  38  39
8  40  41  42  43  44
9  45  46  47  48  49

In [5]:
df.shape

(20, 5)

### インデックス名・カラム名の設定

In [6]:
df=pd.DataFrame(np.arange(9).reshape((3,3)))
df
#df=pd.DataFrame(np.arange(9).reshape((3,3)))
#df

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [ ]:
df.index = ["1行目", "2行目", "3行目"]
df.columns = ["A列", "B列", "C列"]
#df.index=["1行目","2行目","3行目"]
#df.columns=["A列","B列","C列"]

In [ ]:
df

     A列  B列  C列
1行目   0   1   2
2行目   3   4   5
3行目   6   7   8

In [ ]:
df2 = pd.DataFrame(np.arange(9).reshape((3, 3)),
                   index=["1行目", "2行目", "3行目"],
                   columns=["A列", "B列", "C列"])
df2

     A列  B列  C列
1行目   0   1   2
2行目   3   4   5
3行目   6   7   8

###辞書形式でのDataFrame作成

In [9]:
pd.DataFrame({"A列":[1,2,3],"B列":[10,20,30],"C列":[True,False,False]})

   A列  B列     C列
0   1  10   True
1   2  20  False
2   3  30  False

### データの抽出

In [25]:
df = pd.DataFrame(np.arange(20).reshape((5, 4)),
                  index=["1行目", "2行目", "3行目", "4行目", "5行目"],
                  columns=["A列", "B列", "C列", "D列"])
df

     A列  B列  C列  D列
1行目   0   1   2   3
2行目   4   5   6   7
3行目   8   9  10  11
4行目  12  13  14  15
5行目  16  17  18  19

In [11]:
df["A列"]
#df["A列"]

1行目     0
2行目     4
3行目     8
4行目    12
5行目    16
Name: A列, dtype: int64

In [12]:
df[["A列", "C列"]]
#df[["A列"，"C列"]]

     A列  C列
1行目   0   2
2行目   4   6
3行目   8  10
4行目  12  14
5行目  16  18

In [21]:
df[:"1行目"]

     A列  B列  C列  D列
1行目   0   1   2   3

In [26]:
df[:"3行目"]

     A列  B列  C列  D列
1行目   0   1   2   3
2行目   4   5   6   7
3行目   8   9  10  11

In [28]:
df["3行目":"3行目"]

     A列  B列  C列  D列
3行目   8   9  10  11

### loc・ilocの使い方

In [29]:
df=pd.DataFrame(np.arange(20).reshape((5,4)),
                index=["1行目","2行目","3行目","4行目","5行目"],
                columns=["A列","B列","C列","D列"])
df

     A列  B列  C列  D列
1行目   0   1   2   3
2行目   4   5   6   7
3行目   8   9  10  11
4行目  12  13  14  15
5行目  16  17  18  19

In [30]:
df.loc[:,"A列"]

1行目     0
2行目     4
3行目     8
4行目    12
5行目    16
Name: A列, dtype: int64

In [31]:
df.loc[:,["A列","C列"]]

     A列  C列
1行目   0   2
2行目   4   6
3行目   8  10
4行目  12  14
5行目  16  18

In [32]:
df.loc["3行目",:]

A列     8
B列     9
C列    10
D列    11
Name: 3行目, dtype: int64

In [33]:
df.loc[["2行目","4行目",],:]

     A列  B列  C列  D列
2行目   4   5   6   7
4行目  12  13  14  15

In [34]:
df.loc[["2行目","5行目"],["B列","C列"]]

     B列  C列
2行目   5   6
5行目  17  18

In [35]:
df.iloc[0,2]

2

In [36]:
df.iloc[2:,3]

3行目    11
4行目    15
5行目    19
Name: D列, dtype: int64

In [37]:
df.iloc[1:,:2]

     A列  B列
2行目   4   5
3行目   8   9
4行目  12  13
5行目  16  17