<a href="https://colab.research.google.com/github/kenta1114/Machine-Learning/blob/main/pandas_about.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
#import numpy as np

pandasのインポート

In [2]:
import pandas as pd
#import pandas as pd

pandasの基本操作

In [7]:
row=pd.Series([10,20,30,40,50])
row

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [8]:
df=pd.DataFrame([[10,"ten",True],
                 [20,"twenty",False],
                 [30,"thirty",True],
                 [40,"forty",False],
                 [50,"fifty",False]])
df

    0       1      2
0  10     ten   True
1  20  twenty  False
2  30  thirty   True
3  40   forty  False
4  50   fifty  False